@media (prefers-color-scheme: light) {
    :root {
	--bg-color: #f7f7df;
	--text-color: #14130e;
    }
}
@media (prefers-color-scheme: dark) {
    body {
	--bg-color: #212229;
	--text-color: #e0e0e0;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Noto Sans", Roboto, sans-serif;
}

a, a:visited {
    color: var(--text-color);
}

a:visited {
    text-decoration-style: dotted;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h1 {
    text-align: center;
}

h2 {
    font-variant: small-caps;
}

#navrow {
    text-align: center;
}


.tab {
    margin-left: 5px;
    margin-right: 5px;
    font-variant: small-caps;
}

.tab:not(:first-child):before {
    content: "\25C8";
    position: relative;
    right: 5px;
}

.tab a {
    text-decoration: none;
}

.tab a:hover {
    text-decoration: underline;
}
